@charset "UTF-8";
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/**
* Селекторы для таргетинга на конкретные браузеры без влияния на специфику или
* ограничение использования в медиа-запросах
*
* Плюсы:
* - Работает с медиа-запросами
*
* Минусы:
* - Не может использоваться с @extend, так как это приведет к недействительности других селекторов
*/
/**
* Целевой Internet Explorer, но не Edge
*
* @demo
*	div {
*		@include browser-ie () {
*			// ...
*		}
*	}
*/
/**
* Target IE-Edge
*/
/**
* Target Firefox
*/
/**
* Target Safari
*/
/**
* Target all WebKit browsers
*/
/**
* Remove the unit of a length
*
* @param {Number} $number - Number to remove unit from
* @return {Number} - Unitless number
*/
/**
* Returns nth property from css property list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$bottom-margin: css-nth(10px 20px 30px 40px, 3); // 30px
*	$bottom-margin: css-nth(10px 20px, 3); // 10px
*/
/**
* Remove nth elements from the list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$list: remove-nth(10px 20px 30px 40px, 3); // 10px 20px 40px
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for one in $index position
*
* 'inherit' value when used with 'margins' or 'paddings' mixin will not produce any output
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-only: breakpointPickCssNth($spacer, 1);
* => (xs: 10px inherit inherit inherit, md: 20px inherit inherit inherit)
*	@include margins($spacer-top-only);
*
*	$spacer-bottom-only: breakpointPickCssNth($spacer, 3);
* => (xs: inherit inherit 12px inherit, md: inherit inherit 20px inherit)
*	@include paddings($spacer-bottom-only);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for top (first) and bottom (third) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-bottom: breakpoint-pick-top-bottom($spacer);
* => (xs: 10px inherit 12px inherit, md: 20px inherit 20px inherit)
*	@include margins($spacer-top-bottom);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for right (second) and left (fourth) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-left-right: breakpoint-pick-top-bottom($spacer);
* => (xs: inherit 11px inherit 13px, md: inherit 0 inherit 0)
*	@include margins($spacer-left-right);
*/
/**
* In each $list pair of $breakpoint: $value merges all values skipping 'inherit'
*
* @example
*	$list-a: (xs: 10px inherit 20px inherit, md: 30px inherit);
*	$list-b: (xs: 40px inherit inherit inherit, md: inherit 50px);
*
*	$list-result: breakpointMapMerge($list-a, $list-b);
*	// (xs: 40px inherit 20px inherit, md: 30px 50px);
*/
/**
* Returns deeply nested property from a map
*
* @function mapGetDeep Deep get for sass maps
* @author https://css-tricks.com/snippets/sass/deep-getset-maps/
* @param {Map} $map - Map
* @param {Arglist} $keys - Key chain
*
* @example
*	$paddings: mapGetDeep($grid-containers, default, paddings, xs);
*/
/**
* Mixin for object-fit plugin
*
* @see https://github.com/bfred-it/object-fit-images
* @see components/_background.scss
* @example
*	@include object-fit(contain);
*	@include object-fit(cover, top);
*/
/**
* Split string into a list
*
* @property {string} $string String
* @property {string} $separator Separator
*
* @example
*	$list: str-split("hello+world", "+"); // (hello, world)
*/
/**
* Converts SVG into data url so that this SVG could be used as a
* background image
*
* @example
*	background-image: svgtodataurl("<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">...</svg>");
*/
/**
* Remove keys from the map
*
* @param {Map} $map - Map from which to remove items
* @param {List} $keys - List of keys which to remove
* @return {Map} - Map without the specified keys
*/
/**
* Качество рендеринга изображений
* В Chrome качество фонового изображения не самое лучшее при использовании background-size
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }
  html.has-cursor,
  html.has-cursor * {
    cursor: none !important; }
  html.is-lock-scroll,
  html.is-lock-scroll body {
    overflow: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

p {
  margin: 0; }

a,
button {
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer; }

a {
  text-decoration: none;
  color: currentColor; }

svg {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 100%;
  fill: currentColor; }

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0; }
  figure img,
  picture img {
    width: 100%; }

img {
  vertical-align: top;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

img[draggable="false"] {
  pointer-events: none;
  -webkit-user-drag: none; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

video {
  outline: none;
  width: 100%;
  height: 100%; }

iframe {
  display: block; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
    color: currentColor;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }

.js-lazy-load:not(.is-loaded) {
  max-height: 50vh; }

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-height: var(--vh); }
  @media (min-width: 1800px) {
    .site {
      max-width: 1500px;
      margin: 0 auto; } }

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-animation-duration: 0.001s !important;
            animation-duration: 0.001s !important;
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
    -webkit-transition-duration: 0.001s !important;
         -o-transition-duration: 0.001s !important;
            transition-duration: 0.001s !important;
    -webkit-transition-delay: 0s !important;
         -o-transition-delay: 0s !important;
            transition-delay: 0s !important; } }

/* stylelint-enable */
.is-hidden {
  display: none !important; }

.is-hide {
  opacity: 0; }

@media (max-width: 1024px) {
  .for-desktop {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-tablet {
    display: none !important; } }

@media (max-width: 767px) {
  .for-tablet {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-devices {
    display: none !important; } }

.clearfix {
  overflow: auto; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

/* stylelint-disable */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

/* stylelint-enable */
.preloader {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999; }
  .preloader_rocketboy {
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    width: 591px;
    height: 591px;
    position: absolute; }
    @media (max-width: 767px) {
      .preloader_rocketboy {
        width: 100px;
        height: 100px; } }

.preloader.is-show {
  display: block; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #fff; }
  @media (max-width: 767px) {
    .header {
      background-color: transparent; } }
  .header__logo {
    display: block;
    width: 140px;
    height: 19px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%; }
    .header__nav_item {
      margin: 0 15px; }
      .header__nav_item.active {
        z-index: 2;
        position: relative; }
        .header__nav_item.active:before {
          content: "";
          background-image: url("../images/sprites/svg/nav_active.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 104px 156px;
          width: 104px;
          height: 156px;
          position: absolute;
          display: block;
          z-index: -1;
          top: -100px;
          left: -30px; }
    @media (max-width: 767px) {
      .header__nav {
        display: none; } }
  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    margin-top: 84px;
    padding: 0 20px;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh) - 84px);
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-overflow-scrolling: touch; }
    @media (max-width: 767px) {
      .header__menu {
        margin-top: 0px;
        height: 100%; } }
    .header__menu.is-active {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .header__list {
    width: 100%;
    text-align: center; }
  .header__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 0 auto;
    padding: 10px 30px;
    min-height: 85px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff; }
    .header__link:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .header__link:first-child {
      border-top: 1px solid #eee; }
    .has-hover .header__link:not([disabled]):hover {
      color: #000; }
    .header__link.is-active {
      color: #000; }
    .header__link_watch {
      display: block;
      margin: 0 auto; }
  .header__burger {
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -3.25px 0;
    margin-left: auto;
    width: 39px;
    color: #000; }
    @media (min-width: 1000px) {
      .header__burger {
        display: none; } }
    .header__burger span {
      display: block;
      margin: 6.5px 0;
      width: 39px;
      height: 2px;
      background-color: currentColor;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
    .header__burger.is-active span:first-child {
      -webkit-transform: translate(0, 8px) rotate(-45deg);
          -ms-transform: translate(0, 8px) rotate(-45deg);
              transform: translate(0, 8px) rotate(-45deg); }
    .header__burger.is-active span:last-child {
      -webkit-transform: translate(0, -6px) rotate(45deg);
          -ms-transform: translate(0, -6px) rotate(45deg);
              transform: translate(0, -6px) rotate(45deg); }

.btn_To_Top {
  position: fixed;
  display: none;
  right: 25px;
  bottom: 25px;
  width: 48px;
  height: 48px;
  background-image: url("../images/sprites/svg/scroll_top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer; }
  @media (max-width: 767px) {
    .btn_To_Top {
      width: 30px;
      height: 30px;
      right: 20px;
      bottom: 20px; } }

.progress_bar_page {
  position: fixed;
  bottom: 80px;
  right: 25px;
  width: 45px;
  height: 45px; }

.btn_To_Top.is-shown {
  display: block; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding: 20px 30px;
  width: 100%; }
  .footer__developer {
    margin-left: auto;
    font-size: 12px;
    line-height: 16px; }
  .footer__copy {
    font-size: 12px;
    line-height: 16px; }

.progress_container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 25px;
  bottom: 80px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #000; }
  .progress_container_progress {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    margin: 0 auto; }

.progress_container.hide {
  display: none; }

.home {
  max-width: calc(100% - 300px);
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/sprites/svg/content_vector.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px 380px; }
  @media (max-width: 1300px) {
    .home {
      background-position: 0px 500px; } }
  @media (max-width: 1024px) {
    .home {
      padding-top: 80px;
      background-position: 0px 500px;
      max-width: calc(100% - 100px); } }
  @media (max-width: 800px) {
    .home {
      padding-top: 80px;
      background-position: 0px 460px; } }
  @media (max-width: 767px) {
    .home {
      padding-top: 20px;
      max-width: calc(100% - 40px); } }
  .home h2 {
    font-size: 24px;
    line-height: 28px;
    color: #282A33;
    font-weight: 700; }
    @media (max-width: 767px) {
      .home h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 0; } }
  .home__picture {
    display: block;
    margin: 0 auto 40px;
    max-width: 500px;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .home__picture[data-loaded="true"] {
      opacity: 1; }
    .home__picture--2 {
      margin-top: 40px;
      margin-bottom: 0; }
  .home__logo-user {
    display: block;
    max-width: 150px; }
    @media (max-width: 767px) {
      .home__logo-user {
        max-width: 80px; } }
  .home__text {
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 26px; }
    .home__text a {
      text-decoration: underline; }
      .has-hover .home__text a:not([disabled]):hover {
        text-decoration: none; }
    .home__text code {
      padding: 5px;
      background-color: #eee; }
  .home__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    @media (max-width: 767px) {
      .home__about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 30px; } }
    .home__about_pasport {
      max-width: 560px; }
      @media (max-width: 767px) {
        .home__about_pasport {
          max-width: 100%; } }
      .home__about_pasport_name {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        color: #282A33; }
        @media (max-width: 767px) {
          .home__about_pasport_name {
            font-size: 28px;
            line-height: 39px; } }
      .home__about_pasport_description {
        font-size: 14px;
        line-height: 20px;
        margin-top: 30px;
        color: #282A33; }
        @media (max-width: 767px) {
          .home__about_pasport_description {
            margin-top: 20px; } }
    .home__about_info {
      max-width: 150px; }
      @media (max-width: 767px) {
        .home__about_info {
          margin-top: 20px; } }
      .home__about_info_item {
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: #282A33;
        margin-bottom: 10px; }
      .home__about_info_share {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
        .home__about_info_share a {
          margin-top: 5px;
          margin-right: 20px; }
  .home__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 200px; }
    @media (max-width: 800px) {
      .home__content {
        margin-top: 100px; } }
    @media (max-width: 767px) {
      .home__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 40px; } }
    .home__content_experience {
      max-width: 560px;
      width: 100%; }
      @media (max-width: 767px) {
        .home__content_experience {
          max-width: 100%; } }
      .home__content_experience_title {
        font-size: 24px;
        line-height: 28px; }
      .home__content_experience_block {
        margin-top: 60px;
        font-size: 14px;
        line-height: 17px; }
        .home__content_experience_block_first {
          margin-top: 30px; }
          @media (max-width: 767px) {
            .home__content_experience_block_first {
              margin-top: 20px; } }
        .home__content_experience_block_date {
          color: #828282;
          margin-top: 8px; }
        .home__content_experience_block_name {
          color: #282A33;
          margin-top: 8px;
          font-weight: 700;
          line-height: 30px; }
          .home__content_experience_block_name_romb {
            vertical-align: middle; }
          .home__content_experience_block_name_unbold_text {
            font-weight: 400; }
        .home__content_experience_block_title {
          color: #282A33;
          margin-top: 8px;
          font-weight: 700; }
          .home__content_experience_block_title_romb {
            vertical-align: middle; }
        .home__content_experience_block_desc {
          color: #282A33;
          margin-top: 8px; }
        .home__content_experience_block_site {
          color: #2F80ED;
          margin-top: 3px;
          text-decoration: underline; }
      .home__content_experience_title {
        font-size: 24px;
        line-height: 28px;
        color: #282A33; }
    .home__content_boy {
      width: 297px;
      max-width: 297px;
      position: relative;
      display: block;
      width: 100%;
      height: inherit; }
      .home__content_boy_img {
        width: 297px; }
        @media (max-width: 900px) {
          .home__content_boy_img {
            width: 200px;
            max-width: 200px; } }
        @media (max-width: 767px) {
          .home__content_boy_img {
            width: 128px;
            max-width: 128px; } }
      @media (max-width: 900px) {
        .home__content_boy {
          max-width: 200px; } }
      @media (max-width: 767px) {
        .home__content_boy {
          margin: 40px auto;
          height: 200px;
          width: 128px; } }
    .home__content_education {
      max-width: 220px;
      width: 100%; }
      @media (max-width: 767px) {
        .home__content_education {
          max-width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: top;
              -ms-flex-align: top;
                  align-items: top; } }
      .home__content_education_title {
        text-align: center; }
        @media (max-width: 767px) {
          .home__content_education_title {
            text-align: left;
            width: 100%; } }
      .home__content_education_block {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        @media (max-width: 767px) {
          .home__content_education_block {
            max-width: 200px;
            width: 150px;
            -ms-flex-item-align: baseline;
                align-self: baseline; } }
        .home__content_education_block_logo {
          max-width: 62px;
          max-height: 42px;
          margin: 0 auto; }
        .home__content_education_block_title {
          font-size: 14px;
          line-height: 20px;
          color: #282A33;
          margin-top: 5px;
          font-weight: 700; }
        .home__content_education_block_subtitle {
          font-size: 14px;
          line-height: 20px;
          color: #282A33;
          margin: 5px auto 0;
          max-width: 150px; }
  .home__skills {
    padding-top: 200px;
    background-image: url("../images/sprites/svg/content_vector_under.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center; }
    @media (max-width: 800px) {
      .home__skills {
        padding-top: 100px; } }
    @media (max-width: 767px) {
      .home__skills {
        padding-top: 40px; } }
    .home__skills_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      max-width: 100%; }
      .home__skills_block_item {
        margin-right: 20px;
        max-width: 270px;
        width: 100%;
        margin-top: 30px; }
        @media (max-width: 767px) {
          .home__skills_block_item {
            margin-top: 20px;
            max-width: 100%; } }
        .home__skills_block_item_title {
          font-size: 14px;
          line-height: 17px;
          font-weight: 700; }
        .home__skills_block_item_subtitle {
          font-size: 14px;
          line-height: 17px;
          font-weight: 400; }
  .home__footer {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 200px; }
    .home__footer_img {
      display: block;
      margin: 0 auto;
      max-width: 512px;
      width: 100%; }
  @media (min-width: 1025px) {
    .home {
      padding: 100px 0; } }

.fixed {
  position: fixed;
  z-index: 99;
  top: 83px; }

.static {
  position: relative;
  top: 0; }

.bottom_fixed {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  z-index: 99; }

.top_fixed {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.js_about_passport_opacity {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative; }

.js_about_passport_opacity.is-active {
  opacity: 1;
  -webkit-animation: showLeft 1s;
          animation: showLeft 1s; }

@-webkit-keyframes showLeft {
  from {
    left: -40px; }
  to {
    left: 0; } }

@keyframes showLeft {
  from {
    left: -40px; }
  to {
    left: 0; } }

/*# sourceMappingURL=main.css.map */
