.footer {
	display: flex;
	margin-top: auto;
	padding: 20px 30px;
	width: 100%;

	&__developer {
		margin-left: auto;
		font-size: 12px;
		line-height: 16px;
	}

	&__copy {
		font-size: 12px;
		line-height: 16px;
	}
}
.progress_container{
	position: fixed;
	display: flex;
	align-items: center;
	right: 25px;
	bottom: 80px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #000;
	&_progress{
		align-self: center;
		text-align: center;
		margin: 0 auto;
	}
}
.progress_container.hide{
	display: none;
}