main.home
	img.home__logo-user(src="images/header_boy-head.png")#resume
	.home__about
		.home__about_pasport
			.home__about_pasport_name Радченко Владислав,
				br
				|	Front-end разработчик
			.home__about_pasport_description.js_about_passport_opacity Как разработчик, я&nbsp;высоко ценю способность воплотить видение дизайнера в&nbsp;жизнь, что считаю очень полезным для бизнеса. Я&nbsp;получаю огромное удовлетворение, наблюдая за&nbsp;работой от&nbsp;идеи до&nbsp;дизайна, особенно когда она появляется в&nbsp;руках пользователя. Я&nbsp;считаю, что ориентированные на&nbsp;пользователя решения являются наиболее ценными цифровыми ресурсами будущего.
		.home__about_info
			a.home__about_info_item(href="mailto:radchenk.o.v@yandex.ru") radchenk.o.v@yandex.ru
			a.home__about_info_item(href="tel:79208426269") +7 (920) 842-62-69
			.home__about_info_item г. Брянск
			.home__about_info_share()
				a(href="#" data-social="fb")
					img.home__about_info_share_icon(src="images/sprites/svg/fb.svg") 
				a(href="#" data-social="vk")
					img.home__about_info_share_icon(src="images/sprites/svg/vk.svg") 
				a(href="#" data-social="tg")
					img.home__about_info_share_icon(src="images/sprites/svg/tg.svg") 

	.home__content
		.home__content_experience#about
			h2 Опыт работы
			.home__content_experience_block.home__content_experience_block_first
				.home__content_experience_block_date Июль 2019
				.home__content_experience_block_name Freelance Designer&nbsp;
					span
						img.home__content_experience_block_name_romb(src="images/sprites/svg/exp_item_1.svg")
				.home__content_experience_block_desc Netherlands, Worldwide
					br 
					|	Available for a project or job in UX/UI, Visual and Product design.
				a.home__content_experience_block_site(href="#") Commercial tryouts
					br
				a.home__content_experience_block_site(href="#") Personal projects

			.home__content_experience_block
				.home__content_experience_block_date Январь 2017&nbsp;&mdash; Сентябрь 2018
				.home__content_experience_block_title
					span Digital Designer&nbsp;
					span
						img.home__content_experience_block_name_romb(src="images/sprites/svg/exp_item_2.svg")
				.home__content_experience_block_name
					span
						img(src="images/sprites/png/exp_item_2_logo.png") 
					span &nbsp;J Creative Solutions&nbsp;
					span.home__content_experience_block_name_unbold_text Digital agency in Minsk, Belarus
				.home__content_experience_block_desc Created visuals for digital marketing channels such as&nbsp;social media, promo web and online ads. Developed visual language from scratch or&nbsp;following the branding guidelines. Designed presentations<br>for clients and indoor purposes.
				a.home__content_experience_block_site(href="#") Agency projects
			
			.home__content_experience_block
				.home__content_experience_block_date Март 2014&nbsp;&mdash; Февраль 2017
				.home__content_experience_block_title
					span SEO Specialist &rarr; Lead SEO Specialist&nbsp;
					span
						img.home__content_experience_block_name_romb(src="images/sprites/svg/exp_item_3.svg")
				.home__content_experience_block_name
					span
						img(src="images/sprites/png/exp_item_3_logo.png") 
					span &nbsp;OZ.by&nbsp;
					span.home__content_experience_block_name_unbold_text Online bookstore in Minsk, Belarus
				.home__content_experience_block_desc Improved website performance and user experience of&nbsp;the biggest online bookstore&nbsp;OZ in&nbsp;Belarus, being a&nbsp;part of&nbsp;the marketing team, I&nbsp;interpreted Google Analytics data to&nbsp;IT, content and marketing colleagues. Advised on&nbsp;tech and content optimization strategy, automated processes, provided reports, increased organic traffic up&nbsp;to&nbsp;150%.
				a.home__content_experience_block_site(href="#") Annual company report 2016
			
			.home__content_experience_block
				.home__content_experience_block_date Август 2012&nbsp;&mdash; Ноябрь 2013
				.home__content_experience_block_title
					span Content Specialist&nbsp;
					span
						img.home__content_experience_block_name_romb(src="images/sprites/svg/exp_item_4.svg")
				.home__content_experience_block_name
					span
						img(src="images/sprites/png/exp_item_4_logo.png") 
					span &nbsp;21vek.by&nbsp;
					span.home__content_experience_block_name_unbold_text E-commerce store in Minsk, Belarus
				.home__content_experience_block_desc Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.
			
			.home__content_experience_block
				.home__content_experience_block_date Август 2011&nbsp;&mdash; Ноябрь 2014
				.home__content_experience_block_title
					span Software Support Engineer&nbsp;
					span
						img.home__content_experience_block_name_romb(src="images/sprites/svg/exp_item_5.svg")
				.home__content_experience_block_name
					span
						img(src="images/sprites/png/exp_item_5_logo.png") 
					span &nbsp;Integral&nbsp;
					span.home__content_experience_block_name_unbold_text Microelectronics factory in Minsk, Belarus
				.home__content_experience_block_desc Supported retail accounting system LS Trade, troubleshoot technical problems.


		.home__content_boy.fixed_block_position
			img.home__content_boy_img.fixed_block(src="images/content_boy.png")


		.home__content_education
			h2.home__content_education_title Образование
			.home__content_education_block
				img.home__content_education_block_logo(src="images/sprites/png/education-item-1.png")
				.home__content_education_block_title Interface Design:
					br 
					|	Web &amp;&nbsp;Mobile
				.home__content_education_block_subtitle IT-Academy, 2020

			.home__content_education_block
				img.home__content_education_block_logo(src="images/sprites/png/education-item-2.png")
				.home__content_education_block_title Fundamentals
					br
					|	of Usability
				.home__content_education_block_subtitle Skillshare, Oct 2018

			.home__content_education_block
				img.home__content_education_block_logo(src="images/sprites/png/education-item-3.png")
				.home__content_education_block_title CG Artist
				.home__content_education_block_subtitle Polygon CG&nbsp;School, May-Sep 2017

			.home__content_education_block
				img.home__content_education_block_logo(src="images/sprites/png/education-item-4.png")
				.home__content_education_block_title Graphic Design
				.home__content_education_block_subtitle Belarusian State Academy of&nbsp;Arts, 2015&nbsp;&mdash; 2017 Postgraduate Diploma

			.home__content_education_block
				img.home__content_education_block_logo(src="images/sprites/png/education-item-5.png")
				.home__content_education_block_title SEO Specialist
				.home__content_education_block_subtitle ARTOX Media,
					br
					|	Jun-Aug 2012

			.home__content_education_block
				img.home__content_education_block_logo(src="images/sprites/png/education-item-6.png")
				.home__content_education_block_title Information
					br
					|	Technology Software
				.home__content_education_block_subtitle Belarusian State University of&nbsp;Informatics and Radioelectronics, 2011&nbsp;&mdash; 2015
					br
					|	Bachelor&rsquo;s degree
				.home__content_education_block_subtitle Polotsk State Economic College, 2007&nbsp;&mdash; 2011 Associate&rsquo;s degree
	.fixed_block_stop

	.home__skills
		h2#skills Навыки
		.home__skills_block
			.home__skills_block_item
				.home__skills_block_item_title Adobe Creative Suite
				.home__skills_block_item_subtitle Photoshop, Illustrator, InDesign, XD, After Effects

			.home__skills_block_item
				.home__skills_block_item_title Prototyping
				.home__skills_block_item_subtitle Sketch, Figma, InVision, Marvel, Principle, Balsamiq

			.home__skills_block_item
				.home__skills_block_item_title Additional
				.home__skills_block_item_subtitle HTML, CSS, Google Analytics, Keynote, Miro

			.home__skills_block_item
				.home__skills_block_item_title Languages
				.home__skills_block_item_subtitle Conversational English and Native Russian	
